= render partial: 'shared/header'

.contents
  .top-image
    = image_tag "http://startupkitchen.blog/wp-content/uploads/2018/05/pm-methodologies-3.jpg", class: "img"

  .main-contents
    .hot-projects
      .title
        Hot Projects
      .hot-project
        %ul.hot-project-list
          %li
            .article
              = link_to ambi_path(current_user) ,class: "article-link" do
                =image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "sample"
                SampleMessage
          %li
            .article
              = link_to ambi_path(current_user) ,class: "article-link" do
                =image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "sample"
                SampleMessage
          %li
            .article
              = link_to ambi_path(current_user) ,class: "article-link" do
                =image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "sample"
                SampleMessage
          %li
            .article
              = link_to ambi_path(current_user) ,class: "article-link" do
                =image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "sample"
                SampleMessage
          %li
            .article
              = link_to ambi_path(current_user) ,class: "article-link" do
                =image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "sample"
                SampleMessage
                
= render partial: 'shared/footer'